@keyframes marque {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}
span.nickname {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: bold;
    font-size: 4.375rem;
    font-style: normal;
    transition: color .2s ease-in-out;
}
div.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.616);
    padding: 2.5rem;
    backdrop-filter: blur(.1875rem);
}
div.experience-container {
    width: 30%;
    text-align: center;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.616);
    padding: 2.5rem;
    backdrop-filter: blur(.1875rem);
    height: fit-content;
    position: absolute;
}
div.social-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: space-between;
}
span.nickname:hover {
    color: white;
    cursor: default;
}
i {
    font-size: 40px;
    transition: color .2s ease-in-out;
    color: rgba(240, 248, 255, 0.418);
    align-content: center;
    align-items: center;
}
.fa-youtube:hover {
    color: red;
}
.fa-discord:hover {
    color: #5662f6;
}
.fa-steam:hover {
    color: #3f53bb;
}
.fa-github:hover {
    color: #9032ad;
}
.fa-telegram:hover {
    color: #259cd8;
}
div.avatar img {
    border: 1px solid black;
    border-radius: 6.25rem;
    align-content: center;
    align-items: center;
}
hr {
    border: none;
    border-top: 2px solid #000000;
}
.controls {
    /* display: flex;
    flex-direction: column; */
    align-items: center;
    width: 100%;
}
div.controls button {
    background: transparent;
    border: 0;
}
div.controls button i {
    font-size: 34px;
    cursor: pointer;
}
div.controls button i:hover {
    color: #3f53bb;
}
input[type="range"] {
    height: 10%;
    width: 100%;
    margin: .625rem 0rem;
    cursor: pointer;
}
input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    background: #1d1d1d;
    border-radius: 5px;
}
input[type="range"]::-moz-range-track {
    width: 100%;
    height: 8px;
    background: #1d1d1d;
    border-radius: 5px;
}
input[type="range"]::-ms-track {
    width: 100%;
    height: 8px;
    background: #000000;
    border-radius: 5px;
    border: none;
}
div.controls span {
    display: flex !important;
    flex-direction: row !important;
    color: rgba(240, 248, 255, 0.418);
    font-size: 14px;
}
button.mute {
    position: relative;
    right: 38%;
}
::selection {
    background-color: transparent;
    color: inherit;
}
::-moz-selection {
    background-color: transparent;
    color: inherit;
}
div.headtext ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 5rem;
}
div.headtext li {
    font-size: 1.3rem;
}
div.headtext {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
ul a {
    color: inherit !important;
}
div.marquee-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    position: relative;
}
div.marquee ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
    flex-direction: row;
    flex-wrap: nowrap;
}
div.marquee {
    position: relative;
    text-align: center;
    animation: marque 20s linear infinite;
}
div.marquee:hover {
    animation-play-state: paused;
    cursor: pointer;
}
li.skillblock {
    border: 1px solid grey;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    padding: 10px;
    background: rgba(128, 128, 128, 0.103);
    transition: .2s ease-in-out;
        &.bootstrap:hover {
            transform: scale(1.1);
            color: white;
        }
        &.css:hover {
            transform: scale(1.1);
            color: white;
        }
        &.cloudflare:hover {
            transform: scale(1.1);
            color: white;
        }
        &.html:hover {
            transform: scale(1.1);
            color: white;
        }
        &.js:hover {
            transform: scale(1.1);
            color: white;
        }
}
li.skillblock:hover {
    background: rgba(128, 128, 128, 0.466);;
}
div.marquee li span {
    justify-content: center;
    align-items: center;
    text-align: center;
}
.h6 {
    height: 1.5rem;
}