@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    --primary-textcolor: #abb4be;
    --bold-textcolor: #c8cbcf;
    --muted-color: #7d848b;
    --blue: #007bff;
    --blue-pulse:#004186; 
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #2b2e31;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --primary-div: #181a1c;
}
* {
    box-sizing: border-box;
}
html {
    margin: 0;
    padding: 0;
    min-height: 100dvh;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: 100%;
}
body, html {
    width: 100%;
    height: 100%;
}
::-webkit-scrollbar {
    width: .3rem;
}
::-webkit-scrollbar-track {
    background: rgba(47,49,57,255);
}
::-webkit-scrollbar-thumb {
    background: #4b4e5a;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
body {
    display: block;
    background: linear-gradient(180deg, #101113, #252a2e);
    background-size: cover;
    background-repeat: repeat;
    color: #abb4be;
    height: 100%;
    margin: 0;
    text-align: left;
    font-weight: 400;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
    background-attachment: fixed;
}
a:link {
    color: #0088cc;
    background-color: transparent;
    text-decoration: none;
    transition: color .3s;
}
a:visited {
    color: #0088cc;
    background-color: transparent;
    text-decoration: underline !important;
}
a:hover {
    transition: color .3s;
    color: #ccc;
    text-decoration: none;
    cursor: pointer;
}
h1, h2, h3, h4, h5, h6 {
    color: white;
}
.rounded-default {
    border-radius: 5px !important;
}
.rounded-grander {
    border-radius: 10px !important;
}
.rounded-semicircle {
    border-radius: 50px !important;
}
.rounded-circle {
    border-radius: 99999px !important;
}
.center-hv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.center-h {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.center-v {
    position: absolute;
    top: 50%;
    transform: translate(-50%);
}
.lower {
    position: absolute;
    top: 100%;
}
.hoveranimate:hover {
    transition: transform .2s ease-in-out;
        &.bigger {
            transform: scale(1.1);
        }
}
button.customsize {
    &.bigger {
        padding: 7px;
    }
}
.fullwidth {
    width: 100%;
}
@keyframes bounce-background {
    from {
        background-position: 0 0px;
    }

    to {
       
        background-position: 0 960px;
    }
}